@import '../../shared/config';
@import '../../shared/mixins';
@import '../../shared/placeholders';


.logo { 
    margin: 2.5rem 0;    
}

.brand { 
    margin-bottom: 2.5rem;
}

.navigation { 
    nav {
        display: inline-block;
        width: 100%;
        a {
        @extend %primary_link;

        display: inline-block;
        width: 100%;
        }
    }    
}

