@import '../shared/config';
@import '../shared/mixins';

:root {
    font-size: 16px;
}
.main {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.sidebar {
    background: $color_black;
   // position: fixed;
    height: 100vh;
    width: 100%;
    max-width: $sidebar_width;
    text-align: center;
    padding: 0 1rem;
}

.content {
    background: $color_grey;
    float: right;  
    border: 2px solid green;  
}

::ng-deep {
    figure {
        display: block;
        width: 100%; 
        margin-bottom: 0;
        img {
            max-width: 100%;
        } 
    }
    .badge {
        @include border-radius(0.8125rem);
        
        padding: 0 1rem;
        height: 1.5625rem;
        line-height: 1.5625rem;

        &.badge-primary {
            background-color: $color_blue;
            color: $color_black;
        }
    }
}
