/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'shared/config';
@import 'shared/mixins';
@import 'shared/placeholders';
@import 'shared/colors';


:root {
    font-size: 16px;
}

body {
    background: $color_black;
    position: relative;
}
.shadow {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0.5;
    display: none;
}
figure {
    display: block;
    width: 100%; 
    margin-bottom: 0;
    img {
        max-width: 100%;
    } 
    
}

a {
    @extend %secondary_link;
}
.badge {
    @include border-radius(0.8125rem);
    
    padding: 0 1rem;
    height: 1.5625rem;
    line-height: 1.5625rem;

    &.badge-primary {
        background-color: $color_blue;
        color: $color_black;
    }
}

// content 
.figure-img {
    width: 100%;
}
.main {
    display: flex;
    width: 100%;
    flex-direction: row;

    @include sm {
        display: block;
        float: left;
    }
}
.sidebar {
    background: $color_black;   
    height: 100vh;
    width: 100%;
    max-width: $sidebar_width;

    @include sm {
       height: auto;
       max-width: 100%;       
       margin-bottom: 20px;
       text-align: center;
    }

}

.content {   
    background: $color_grey;
    background: #fff;
    float: right;  
    width: 100%;
}


  
