<div class="container-fluid">
    
    <div class="row">       
        <div class="col-12" >

            <div class="job">                

                <div *ngIf="palette" class="col-lg-8 details-top-container" [ngStyle]="{'background-image': 'linear-gradient(${palette.DarkVibrant.getHex()}, ${palette.LightVibrant.getHex()})'}"></div>
                <figure class="imgWrap" #figure >                
                    <img #myDiv3 [src]="job?.acf?.image_post?.sizes?.large"  />
                </figure>
                                   
                <article>
                    <h1>
                        {{ job?.acf?.title_post}}
                    </h1>
                    <div [innerHTML]=" job?.acf?.post_content"></div>
                                  
                </article>

                <button (click)="backClicked()">Voltar</button>
            </div>

        </div>

    </div>

</div>
