<section #section>
    <div class="container-fluid">
    
    <div class="row">       
        <div class="col-12" >

            <app-preloader *ngIf="!job"></app-preloader>

            <div class="job transition" *ngIf="job">        
                <figure class="imgWrap" #figure >                
                    <!-- <img [src]="job?.acf?.image_post?.sizes['post-page']"  /> -->
                    <img [src]="imageBase64"  />
                </figure>
                                   
                <article>
                    <h1>
                        {{ job?.acf?.title_post}}
                    </h1>
                    <div [innerHTML]=" job?.acf?.post_content"></div>
                                  
                </article>

                <button (click)="backClicked()">Voltar</button>
            </div>

        </div>

    </div>

</div>
</section>
