

<div class="container-fluid"> 

    <div class="contact">
        <h2>Contato</h2>
        <p>E-mail/Skype:<a href="mailto:rafarfl2010@gmail.com"> rafarfl2010@gmail.com</a></p>
    </div>

    
    <!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input type="text" placeholder="Name" name="name" ngModel required #name="ngModel">
        <input type="text" placeholder="Email" email name="email" ngModel required #email="ngModel">
        <textarea placeholder="Messages" name="messages" ngModel required #messages="ngModel"></textarea>
        <input type="submit" value="Send">
    </form> -->    
</div>   