

<div class="container-fluid"> 

    <div class="contact">
        <h2>Contato</h2>

        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
            <input class="form-field" type="text" placeholder="Name" formControlName="name" required>
            <input class="form-field" type="email" placeholder="Email" formControlName="email"  required>
            <input class="form-field" type="text" placeholder="Assunto" formControlName="subject"  required>
            <textarea class="form-field" placeholder="Messages" formControlName="message"  required></textarea>
     
            <button class="form-field" type="submit" [disabled]="!contactForm.valid">Enviar</button>
        </form> 
       

     </div>    
    
</div>   