@import '../../../helpers/colors';

.contact { 
    padding: 5rem 0;
   
    h2 {
        font-size: 5rem;
    }

    p {
        font-size: 1.5rem;
        font-style: italic;
        a {
            text-decoration: underline;

            &:hover {
                color: $color_blue;
            }
        }
    }

    .feedback {
        display: none;
        &.on {
            display: block;
        }
    }
}



:host { 
    display: block;
    height: 100vh;
  }
  
  .open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  //---

  // Variables
// ****************************************

$blue: #0091EA;
$gray: #eee;
$font1: 'Quicksand';
$font2: 'Raleway';


// Text
// ****************************************

body {
	color: white;
	font-family: $font2;
}

h3 {
	text-transform: uppercase;
	font-family: $font1;
	text-align: center;
	color: white;
	font-size: 2.5em;
}

span {
	display: block;
	text-align: center;
}

// Rule
// ****************************************

hr {
	padding: 0;
	border: none;
	border-top: solid 3px white;
	text-align: center;
	max-width: 66%;
	margin: 25px auto 30px;
	&:after {
		content: "\f0e0";
		font-family: 'FontAwesome';
		display: inline-block;
		position: relative;
		top: -0.8em;
		font-size: 2em;
		padding: 0 0.25em;
		background-color: #0091EA;
		color: white;
	}
}

// Div's
// ****************************************

.contact {

	transition: opacity 300ms ease-in;
	&:after {
		// Clear floats
  	clear: both;
  	display: block;
  	height: 0;
  	overflow: hidden;
  	visibility: hidden;
  	content: ".";
  	font-size: 0;
    }
    form {
        &.is-sent {
            animation: launch 1.5s ease-in;
          }
        &.off {
            display: none;
        }
    }
 
}


.send-btn {
	background: $blue;
	border: none;
	padding: 10px 20px;
	font-size: 1.3em;
	color: white;

	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.2);
	transition: transform 200ms ease-in-out;
	&:hover {
   	transform: translate(15px, 0px)  scale(1.1);
	}
}

// Animation
// ****************************************

@keyframes launch {
	0% {
    opacity: 1;
    transform: translateX(0) scale(1);
	}
	10%, 15% {
    transform: translateX(0) scale(0.5);
	}
	30%, 35% {
		transform: translateX(-20) scale(0.5);
	}
	40%, 70% {
    transform: translateX(100vw) scale(0.5);
	}
	71%, 100% {
    opacity: 0
	}
	// 71% {
    // opacity: 0;
    // transform: translateX(100vw) scale(0.5);
	// }
	// 72% {
    // opacity: 0;
    // transform: translateX(0px) scale(0.5);
	// }
	// 100% {
    // opacity: 1;
    // transform: translateX(0px) scale(1);
	// }
}